/* line 3, /Users/roberthead/workspace/living_canvas/app/assets/stylesheets/game.css.scss */
body {
  color: white;
  background: #999;
  font-family: helvetica, sans-serif;
  font-weight: normal;
}

/* line 10, /Users/roberthead/workspace/living_canvas/app/assets/stylesheets/game.css.scss */
.canvas-container {
  text-align: center;
}

/* line 14, /Users/roberthead/workspace/living_canvas/app/assets/stylesheets/game.css.scss */
canvas {
  background: white;
  width: 1920px / 2;
  height: 1080px / 2;
  margin: 1em auto;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

